TM_CommonCPP/
CompleteControl/Debug
CompleteControl/Release
Debug/
Release/
common/

Debug
Release
/obse/*.sdf
/obse/obse_vs10.v11.suo
/obse/*.suo



*.sdf
*.opensdf
*.suo
/ipch/
*.ipch



/common/
/obse/